body {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

html,
body {
    height: 100%;
    background-color: #252525;
}

#main-content {
    background-color: aliceblue;
    height: 40vh;
    width: 40vh;
    /* box-shadow: 2px 2px 2px 4px rgb(74, 73, 73); */
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;

}

#weathercondition {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotates {

    from {
        transform: translateX(-0.5rem);
    }

    to {
        transfor: translateX(0.5rem);
    }
}

.fa-street-view {
    animation: rotates 3s linear infinite alternate;
}

.fa-sun {
    animation: sun 3s linear infinite alternate;
   
}

@keyframes sun {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}
#weathercondition
{
    margin-top: 12px;
}
#info
{
    margin-top: 50px;
}